.popular
	position: relative
	margin-top: 60px 
	+clr
	li
		display: inline-block
		a
			text-decoration: none
			color: #000
			font-weight: bold

.ball
	height: 17px
	width: 80px 
	float: right
	margin-top: -30px
	
.ball__link
	display: block
	-webkit-border-radius: 50% 
	border-radius: 50% 
	border: 1px solid #525253 
	float: left
	width: 10px 
	height: 10px 
	margin: 1px 
	&:hover
		background: #525253
.is-active
	background: #525253 
.popular__goods
	position: relative
	background: $yellow
	color: #000
	padding: 15px 20px
	display: inline-block


.popular__link
	margin: 10px 
	border: 1px solid $grey 
	&:hover
		background: $grey
	a
		display: block
		padding: 5px
		&:hover
			color: $white

// CATALOG

.catalog
	position: relative
	overflow: hidden
	width: auto 
.catalog__item
	border: 1px solid // ???
	border-color: rgb(247,247,247) //???
	float: left
	max-width: 25% 
	height: 285px
	max-height: 285px
	border-right: none
	margin-left: -1.5px
	&:last-child
		border-right: 1px solid//???
		border-color: rgb(247,247,247) //????
	&:hover 
		.catalog__heading a
			color: #1b4792 
		.image__goods
			-webkit-transform: scale(1.1) 
			-moz-transform: scale(1.1) 
			-ms-transform: scale(1.1) 
			-o-transform: scale(1.1) 
			transform: scale(1.1) 

.catalog__lot
	display: block
	font-size: 15px
	color: $blue
	padding: 10px 

.catalog__image
	display: block
	width: 100% 
	height: auto
	vertical-align: middle
	overflow: hidden

.catalog__buy
	padding: 12px 10px
	margin-left: 2px 
	background: #fbfbfb 
	height: auto
	+clr


.catalog__price
	position: relative
	float: left
	min-width: 85px
	padding: 5px 44px 5px 10px
	border: 2px solid $yellow
	margin: 0 auto 
	color: $grey
	font: 24px bold
	text-decoration: none
	+clr
	&:hover
		opacity: .6 
	sub
		font-size: 11px 
	img
		position: absolute
		top: 0
		right: -2px 

.catalog__add
	float: right
	+clr
	a
		text-decoration: none
		border-bottom: 1px dotted $grey 
		color: $grey
		margin: 5px 0 0 0 
		&:hover
			color: $blue
			border-bottom: none
		&:last-child
			margin: 10px 0 0 0
			display: block

a.star
	position: relative
	float: left
	padding: 5px 0 0px 0
	text-decoration: none
	span
		font-size: 11px
		color: #525253
		

.border
	border: 2px solid $yellow 
	.catalog__item
		&:last-child
			border-right: none 

// END CATALOG

.baner
	margin: 30px 0 
	display: block

		//  down

.down
	background: #f6f6f6
	height: 335px 
	padding-bottom: 40px  
	+clr
	a
		text-decoration: none
		color: $dark 

.down__layout-left
	position: relative
	float: left
	width: 425px
	height: 295px


.down__layout
	padding: 20px 0
	border-bottom: 3px solid #969696
	height: 30px
	.down__heading
		float: left
		line-height: 33px
	a
		font: 13px bold sans-serif
		padding: 2px
		margin: 0px 10px
		line-height: 33px 
		border-bottom: 1px dotted $grey 
		&:hover
			background: $yellow 
			border-bottom: none 

.down__content
	padding: 20px 0 
	border-bottom: 1px solid #c5c5cb
	a:hover
		color: $blue 
	img
		float: left
		margin-right: 15px 
		-webkit-border-radius: 50% 
		border-radius: 50% 
		+clr
	&:hover
		.content__item a
			color: $blue 
		img
			opacity: .7 

.content__item 
	margin: 0 10px
	li:first-child
		margin: 5px 0
	a
		color: $grey 

.down__content-all
	display: block
	width: 75px 
	margin: 20px 0 0 80px 
	font: 13px bold sans-serif
	border-bottom: 1px solid $grey 
	&:hover
		color: $blue 
		border-bottom: 1px solid transparent
		background: $yellow 

.down__layout-right
	float: right
	width: 425px

.down__item-right
	padding: 30px 0
	a:hover
		color: $blue 


// START   FOOTER

